@import "bourbon"
@import "vars"
@import "libs"


// общая секция
.sect
	text-align: center
	padding-top: 45px
	&__head
		margin-bottom: 12px
	&__desc
		margin-bottom: 35px

a.button
	background-color: $accent-color
	color: $bgc-color
	padding: 15px 30px
	border-radius: 4px
	font-size: 14px
	font-weight: bold
	display: inline-block
	i 
		margin-left: 10px
	&:hover
		text-decoration: none


// секция responsive
.responsive
	position: relative
	.responsive-text 
		text-align: left
		&__head
			margin-bottom: 15px
		&__desc
			margin-bottom: 25px
			opacity: .9
			strong
				font-weight: bold
	.responsive
		&--mobile
			position: absolute
			width: 190px
			bottom: 0
			left: 40px
		&--tablet
			width: 480px
			margin-bottom: -2px
		&--psd
			position: absolute
			top: 30px
			left: 20px
			width: 160px
			height: 160px

// секция portfolio
.portfolio
	background-color: $gray-color
	padding-bottom: 60px
	.sl-portfolio
		text-align: center
		margin-top: 10px
		&__item
			&:hover
				.sl-portfolio__img
					img
						transform: scale(1.1)
					&::before
						opacity: 1
						transform: scale(1)
					.link--hover
						opacity: 1
						transform: scale(1)
			.link--hover
				transform: scale(0)
				opacity: 0
				transition-delay: 0.1s
				z-index: 2
				top: 50px
				left: 80px
		&__img
			display: inline-block
			width: 200px
			height: 150px
			margin-bottom: 20px
			cursor: pointer
			position: relative
			overflow: hidden
			border-radius: 4px
			img
				width: 100%
				height: 100%
				transition: all ease-in-out 0.2s
			&::before
				position: absolute
				content: ""
				top: 0
				left: 0
				bottom: 0
				right: 0
				background-color: rgba($accent-color, .75)
				transform-origin: 50%
				opacity: 0
				transform: scale(0)
				transition: all ease-in-out 0.3s
				z-index: 1
		&__head
			display: block
			&:hover
				h3
					color: $link-color
		// стрелки слайдера
		.sl-arrow
			background-color: rgba($bgc-color, .15)
			box-shadow: none
			top: 20%
			&:hover
				background-color: $accent-color


// секция profect
.project
	padding-bottom: 50px
	.project__card
		background-color: $gray-color
		border-radius: 4px
		margin: 0 20px 30px
		text-align: left
		.project__img
			img
				width: 100%
		.project__content
			padding: 20px
		.project__head
			margin-bottom: 20px
		.project__desc
			margin-bottom: 15px
			font-size: 14px
		.project__subtit
			font-size: 14px


// секция blog
.blog
	background-color: $gray-color
	text-align: left


@import "media"
